[Unit]
Description=OpenStack Nova Metadata API Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=nova
ExecStart=/usr/bin/uwsgi --plugin python3 --ini /etc/nova/metadata-uwsgi.ini

[Install]
WantedBy=multi-user.target
